:root {
    /* Variables de color  */
    --color-primario: #F3F5FC;
    --color-secundario: #0a3871;
    --color-terciario: #ffffff;

    /* Variables de fuentes tipograficas */
    --fuente-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-primario);
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    position: absolute;
}

.logo{
    margin: 2.5rem 0 0 2.5rem;
    position: relative;
}

main{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding: 2.5rem;
}

.rectangulo{
    width: 50%;
}

.text-area{
    background-color: var(--color-primario);
    margin-top: 7%;
    width: 100%;
    border: none;    
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    color: #0A3871;
    outline: none;
    resize: none;
}

.text-area :focus{
    outline: none;
}

::placeholder{
    color: #0A3871;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
}

.informacion{
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: .75rem;
    font-weight: 400;
    /* line-height: 3rem; */
    text-align: left;
    gap: .5rem;
}

.informacion img{
    width: 1rem;
    height: 1rem;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar{
    flex: 1;
    height: 4rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.btn-encriptar{
    background-color: #0A3871;
    color: #ffffff;
    border: none;
}

.btn-desencriptar{
    color: #0A3871;
    background-color: #D8DFE8;
    border: #0A3871 solid 1px;
}

.espera{
    display: block;
}

.mensaje-desencriptado{
    display: block;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 32px -8px #00000014;
    
}

.muñeco{
    display: block;
    width: 100%;
}

.alerta{
    display: block;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #343A40;
}

.instrucciones{
    display: block;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    color: #343A40;
}

.respuesta{
    display: none;
    justify-content: space-between;
}

.mensaje{
    /* background-color: yellowgreen; */
    display: none;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #495057;
    text-align: left;
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.btn-copiar{
    display: none;
    max-height: 4rem;
    width: 100%;
    color: #0A3871;
    background-color: #D8DFE8;
    border: #0A3871 solid 1px;
    margin: 2rem;
    margin-bottom: 4rem;
}

footer {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-family: var(--fuente-principal);
    padding: .5rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 1250px) {

    .logo{
        margin-left: 0;
        margin-top: 4rem;
    }

    main{
        gap: 2rem;
    }

    .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    }

    .rectangulo{
        margin-top: 10%;
        width: 100%;
    }

    .text-area{
        
    }

    .mensaje-desencriptado{
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        padding: 2rem;
        gap: 0rem;
        max-height: 25%;
        margin-bottom: 0;
    }

    .muñeco{
        display: none;
    }

    .mensaje{
    }

    .btn-copiar{
        margin-bottom: 0;
    }
}

@media (max-width: 550px){

    .logo{
        margin: 2rem -1.5rem;
    }

    .contenido {
        padding: 1rem;
    }

    .rectangulo{
        margin-top: 20%;
    }

    .botones{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

}